.landing-page {
  background-color: rgba(14, 14, 15, 0.959);
}

img {
  position: absolute;
  justify-content: center;
  top: 10rem;
  bottom: 0rem;
  left: auto;
  right: auto;
  
}

/* Make changes to bring the h2 to the top with the Weeded logo */
h2 {
  justify-content: center;
  top: 0rem;
  bottom: 0rem;
  left: auto;
  right: auto;
}

.common-text {
  color: white;
}

.password-labels {
  display: flex;
  flex-direction: row;
}

/* .side-by-side {
  display: flex;
  flex-direction: row;
} */

.buttons-side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}