.landing-page {
  background-color: rgba(14, 14, 15, 0.959);
}

.common-text {
  color: white;
}

.password-labels {
  display: flex;
  flex-direction: row;
}

/* .side-by-side {
  display: flex;
  flex-direction: row;
} */

/* .buttons-side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
} */